


.infected{
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered{
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths{
    border-bottom: 10px solid rgb(255, 0, 0, 0.5);
    /* border-bottom: 10px solid rgba(161, 34, 34, 0.5); */


}